langchain
langchain-experimental
faiss-cpu
langchain-ollama
pypdf
rank_bm25
langchain-postgres
sentence-transformers
langchain-core
pydantic
langchain-community
langchain-text-splitters
httpx
python-dotenv
typing_extensions
langgraph
requests
aiohttp
langsmith
numpy
rich
Jinja2
urllib3
psycopg
tenacity
typing_extensions
typing_extensions